@import url(http://fonts.googleapis.com/css?family=Open+Sans);

.index {
  background: url('http://upload.wikimedia.org/wikipedia/commons/3/39/Powell_Street,_San_Francisco.jpg') no-repeat;
  background-size: cover;
  background-position: -0px -100px;
}

.index h1 {
  color: #FFF;
  padding-top: 150px;
  padding-bottom: 150px;
}

.index-body {
  vertical-align: middle;
  background-color: rgba(0,0,0,0.3);
}

#section {
  padding-top: 40px;
  padding-bottom: 60px;
}

h1,h2,h3,h4 {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #333;
}

.navbar-custom .navbar-brand {
    font-weight: 700;
}

.navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}

.navbar-custom a {
    color: #fff;
}

.navbar-custom .nav li.active {
    outline: nonte;
    background-color: rgba(255,255,255,.3);
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a.active {
    outline: 0;
    background-color: rgba(255,255,255,.3);
}

@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
        background-color: #333;
    }

    .navbar-custom.top-nav-collapse {
        border-bottom: 1px solid rgba(255,255,255,.3);
    }
}

.category .col-sm-4 {
  padding-bottom: 15px;
}
.movies {
  background: url('http://topmensmagazine.com/wp-content/uploads/2015/03/shutterstock_923692841.jpg')no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 4px;
}
.movies p {
  color: #FFF;
  text-align: center;
  padding: 70px;
  border-radius: 4px;
  background-color: rgba(0,0,0,0.4);
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.movies h1 {
  color: #FFF;
    padding-top: 150px;
    padding-bottom: 150px;
}
.categories {
  background: url('http://blog.yummypets.com/wp-content/uploads/2014/05/blog_yummypets_chat6_05_14.jpg')no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 4px;
}
.categories h1 {
  color: #FFF;
  padding-top: 150px;
  padding-bottom: 150px;
}
.categories p {
  color: #FFF;
  text-align: center;
  padding: 70px;
  border-radius: 4px;
  background-color: rgba(0,0,0,0.4);
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.tools {
  background: url('http://www.indiafilings.com/learn/wp-content/uploads/2014/09/Startup-tools.jpg')no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 4px;
}
.tools p {
  color: #FFF;
  text-align: center;
  padding: 70px;
  border-radius: 4px;
  background-color: rgba(0,0,0,0.4);
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.tools h1 {
  color: #FFF;
    padding-top: 150px;
    padding-bottom: 150px;
}
.home {
  background: url('http://0.lushome.com/wp-content/uploads/2012/09/book-storage-ideas-shelves-1.jpg')no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 4px;
}
.home p {
  color: #FFF;
  text-align: center;
  padding: 70px;
  border-radius: 4px;
  background-color: rgba(0,0,0,0.4);
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.home h1 {
  color: #FFF;
    padding-top: 150px;
    padding-bottom: 150px;
}
.clothes {
  background: url('https://c4.staticflickr.com/4/3263/3093944513_1575a297a2_z.jpg?zz=1')no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 4px;
}
.clothes p {
  color: #FFF;
  text-align: center;
  padding: 70px;
  border-radius: 4px;
  background-color: rgba(0,0,0,0.4);
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.clothes h1 {
  color: #FFF;
    padding-top: 150px;
    padding-bottom: 150px;
}
.technology {
  background: url('http://onsetinnovations.com/wp-content/uploads/2011/05/Technology.png')no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 4px;
}
.technology p {
  color: #FFF;
  text-align: center;
  padding: 70px;
  border-radius: 4px;
  background-color: rgba(0,0,0,0.4);
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.technology h1 {
  color: #FFF;
    padding-top: 150px;
    padding-bottom: 150px;
}
.books {
  background: url('http://glasstire.com/wp-content/uploads/2013/12/Bookshelf.jpg')no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 4px;
}
.books p {
  color: #FFF;
  text-align: center;
  padding: 70px;
  border-radius: 4px;
  background-color: rgba(0,0,0,0.4);
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.books h1 {
  color: #FFF;
    padding-top: 150px;
    padding-bottom: 150px;
}

.account {
  background: url('http://khongthe.com/wallpapers/abstract/rusty-lock-on-a-locker-233877.jpg')no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 4px;
}
.account h1 {
  color: #FFF;
  padding-top: 150px;
  padding-bottom: 150px;
}
.account p {
  color: #FFF;
  text-align: center;
  padding: 70px;
  border-radius: 4px;
  background-color: rgba(0,0,0,0.4);
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.info-box {
  border: 1px solid black;
  padding: 40px;
}
.midnight-blue-flat-button {
  position: relative;
  vertical-align: top;
  width: 100%;
  height: 60px;
  padding: 0;
  font-size: 22px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #2c3e50;
  border: 0;
  border-bottom: 2px solid #22303f;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #22303f;
  box-shadow: inset 0 -2px #22303f;
  padding-top: 10px;
}
.midnight-blue-flat-button:hover {
  color: #FFF;
}
.midnight-blue-flat-button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
