<div class="categories-page">
<div class="categories">
  <div class="index-body">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h1 class="text-center">Categories</h1>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="search">
  <div id="section">
      <div class="container">
          <form class="form-inline" action="/search" method="post">

            <div class="form-group">
              <label for="search">search:</label>
              <input type="text" class="form-control" name="search" value="">
            </div>

            <button type="submit" class="btn btn-default search-btn" >Submit</button>
          </form>
      </div>
</div>
</div>

<div class="category">
  <div id="section" class="container">
    <% @categories.each do |category_tile| %>
      <a href="/categories/<%=category_tile.id%>/items">
      <div class="col-sm-4">
        <div class="<%= category_tile.title.downcase %>">
          <p><%=category_tile.title %></p>
        </div>
      </div>
      </a>
    <% end %>
    <a href="/categories/new">
      <div class="col-sm-4">
        <div class="add_category">
            <p>Add Category</p>
          </div>
      </div>
    </a>
  </div>
</div>
</div>

