<div id="homepage">
<div class="index">
	<div class="index-body">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<h1 class="text-center">BorrowMe</h1>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="section" class="container">
	<div class="row">
		<div class="col-xs-12">
			<h2>About</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<p class="lead text-center"> BorrowMe is the platform to help you index, track, and share your stuff.
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4">
			<div class="info-box text-center">
				<h3>Organize Your Stuff</h3>
				<i class="fa fa-archive fa-2x"></i>
			</div>
		</div>

		<div class="col-sm-4">
			<div class="info-box text-center">
				<h3>Share With Friends</h3>
				<i class="fa fa-facebook-square fa-2x"></i>
			</div>
		</div>

		<div class="col-sm-4">
			<div class="info-box text-center">
				<h3>Sell Stuff</h3>
				<i class="fa fa-money fa-2x"></i>
			</div>
		</div>

	</div>
</div>
	<div id="section" class="container">
	<% if current_user %>
	<div class="row">
	<br>
		<div class="col-sm-4 col-sm-offset-4 text-center">
		<a href="/categories" class="btn midnight-blue-flat-button">
		View Categories
		</a>
		</div>
	</div>

		<div class="row">
		<h2>Friends</h2>
		<div class="col-sm-12">
			<div class="row">
				<% @all_users.each do |user| %>
					<div class="col-xs-4 text-center">
						<a class="btn btn-default" href="/profiles/<%=user.id %>"><%= user.name %></a>
					</div>
					<br>
				<% end %>
			</div>
		</div>
	<% else %>
	<div class="row">
	<br>
		<div class="col-sm-4 col-sm-offset-4 text-center">
		<a href="/categories" class="btn midnight-blue-flat-button">
		Get Started
		</a>
		</div>
	</div>
	</div>
	<% end %>
</div></div>
<!-- </div>https://pbs.twimg.com/media/CHRz2WVWwAA84ik.jpg -->
