<div id="createcategory">
  <div class="container">
    <div class="row">
      <form id="newform" role="form" action="/categories" method="post">
        <br style="clear:both">
        <h3>Create Category:</h3>
        <div class="form-group">
          <input type="text" class="form-control" id="title" name="title" placeholder="Category Title" required>
        </div>
        <div class="form-group">
          <textarea class="form-control" type="textarea" id="message" name="description" placeholder="Category Description" maxlength="140" rows="7"></textarea>
        </div>
        <input type="submit" name="update" value="Create Category" class="btn btn-default">
      </form>
      
    </div>
  </div>
</div>


