<div class="index">
  <div class="index-body">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h1 class="text-center"><%= @user.name %></h1>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="section" class="container">

  <div class="row">
  <h2>Your Items:</h2>
  <% @user.items.each do |item| %>
    <h4><%= item.name %></h4>
  <% end %>
  </div>
</div>